#####################################################################
############## bcutty's ender crab config ###########
#####################################################################
#[include fluidd.cfg]

[include fluidd1.cfg]
#[include mainsail.cfg]
[include macros.cfg]
#[include PIS.cfg]
#[include adxl345 pico.cfg]
#[include stealthburner_leds.cfg]
#[include stealthburner_leds2.cfg]

[exclude_object]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_05E0000E648C48AFFD97335DC62000F5-if00
#serial: /dev/serial/by-path/pci-0000:00:14.0-usb-0:1.1.3:1.0


[mcu eboard]
serial:/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#serial: /dev/serial/by-path/pci-0000:00:14.0-usb-0:2.1.3:1.0-port0
restart_method: command
baud: 115200

#[input_shaper]
#shaper_freq_x: 53.2
#shaper_freq_y: 38.2
#shaper_type: mzv

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 10000
max_z_velocity: 5
max_z_accel: 100

[idle_timeout]
timeout: 14400

[temperature_sensor klipper_book]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#[temperature_sensor skr]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

[temperature_sensor ender_board]
sensor_type: temperature_mcu
sensor_mcu: eboard
min_temp: 0
max_temp: 100

[temperature_sensor chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: eboard: PC5
min_temp: 0
max_temp: 100
gcode_id: C

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: P1.29
position_endstop: -6
position_min: -6
position_max: 250
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.17
run_current: 0.750
stealthchop_threshold: 0
#stealthchop_threshold: 999999

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: P1.26
position_endstop: -10
position_min: -10
position_max: 230
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.15
run_current: 0.750
stealthchop_threshold: 0
#stealthchop_threshold: 999999

[stepper_z]
step_pin: P0.22 #z tilt
dir_pin: P2.11
enable_pin: !P0.21 #z tilt
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 200
#endstop_pin: ^P1.25
#position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 250
homing_speed: 25
homing_retract_dist: 5.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper_z1]
step_pin: P0.1 #z tilt
dir_pin: !P0.0
enable_pin: !P0.10 #z tilt
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 200

[safe_z_home]
home_xy_position: 117.5, 117.5 # Change coordinates to the center of your print bed
speed: 75
z_hop: 10 # Move up 10mm
z_hop_speed: 5

# Pin mappings for BL_T port
[bltouch]
sensor_pin: ^eboard:PB1
control_pin: eboard:PB0
x_offset: -47
y_offset: -4
# CHANGE THIS TO WHATEVER Z OFFSET YOU NEED
#z_offset: 0.0
speed: 10
samples: 2
samples_tolerance_retries: 3

[bed_mesh]
speed: 80
horizontal_move_z: 10
mesh_min: 5, 10
mesh_max: 185, 210
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0

[z_tilt]
z_positions:
    0,117
    235,117
points:
    60,117
    235, 117
speed: 100
horizontal_move_z: 10
retries: 20
retry_tolerance: 0.01

[tmc2209 stepper_z]
uart_pin: P1.10
run_current: 0.750
stealthchop_threshold: 0
#stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: P1.1
run_current: 0.750
stealthchop_threshold: 0
#stealthchop_threshold: 999999

#[thermistor Dyze500]
#based on https://docs.dyzedesign.com/general-support/temperature-sensors.html#_500%C2%B0c-thermistor
#temperature1: 25
#resistance1: 4500000
#temperature2: 260
#resistance2: 2240
#temperature3: 460
#resistance3: 125.4

[extruder]
max_extrude_only_distance: 110.0
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 23.37 #22.67875 #for 5mm Shaft Driven Bondtech gearsets
gear_ratio: 50:17 #for standard 10t motor
full_steps_per_rotation: 200 #1.8deg Motor
#rotation_distance: 7.472 #Big Purp
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: P2.7
#sensor_type: Dyze500
sensor_type: EPCOS 100K B57560G104F #Basic
sensor_pin: P0.24
#pressure_advance: 0.015
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -200
max_temp: 300

[tmc2209 extruder]
uart_pin: P1.8
run_current: 0.5
#run_current: 0.750
stealthchop_threshold: 0
#stealthchop_threshold: 999999

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#[heater_fan skr_fan]
#pin: eboard:
#heater: heater_bed
#heater_temp: 40.0

[heater_fan heatbreak_fan]
pin: P2.3
heater: extruder
heater_temp: 45.0

[heater_fan controller_fan]
pin: eboard:PA2
heater: heater_bed
heater_temp: 40

#[heater_fan pi_fan]
#pin: eboard:gpio18
#heater: extruder
#heater_temp: 5

[fan]
pin: eboard:PA0


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"


# See the sample-lcd.cfg file for definitions of common LCD displays.

#--------------------------------------------------------------------

##  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

##  To control Neopixel RGB in mini12864 display
[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.037
#*# pid_ki = 0.880
#*# pid_kd = 82.416
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.651
#*# pid_ki = 1.626
#*# pid_kd = 856.626
#*#
#*# [bltouch]
#*# z_offset = 1.949
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.172500, -0.091250, -0.046250, -0.090000, -0.200000
#*# 	-0.148750, -0.077500, 0.037500, -0.025000, -0.073750
#*# 	-0.147500, -0.082500, 0.012500, -0.021250, -0.037500
#*# 	-0.120000, -0.098750, 0.017500, -0.027500, -0.068750
#*# 	-0.220000, -0.200000, -0.150000, -0.115000, -0.131250
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 5
#*# max_y = 210.0
#*# mesh_x_pps = 2
#*# max_x = 185.0
